.police {
  display: inline-block;
  font-size: 15px; }
  .police-1 {
    font-family: 'Aref Ruqaa'; }
  .police-2 {
    font-family: 'Indie Flower'; }
  .police-3 {
    font-family: 'Open Sans Condensed'; }
  .police-4 {
    font-family: 'Space Mono'; }
