@font-face {
    font-family: 'Aref Ruqaa';
    src: url('../fonts/Aref_Ruqaa/ArefRuqaa-Regular.ttf');
}

@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/Indie_Flower/IndieFlower.ttf');
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf');
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf');
}