.police {
    display: inline-block;
    font-size: 15px;
        &-1{
            font-family: 'Aref Ruqaa';
        }
        &-2{
            font-family: 'Indie Flower';
        }
        &-3{
            font-family: 'Open Sans Condensed';
        }
        &-4{
           font-family: 'Space Mono';
        }
        &-5{
            font-family: 'Arial';
        }
        &-6{
            font-family: 'Times New Roman';
        }
}
